
{% extends "pageBase.html.twig" %}
{% block content %}
<div class = row>
    <div class = "col-sm-12 text-center title">
        <h3>Published job offers</h3>
    </div>
    <div class = col-sm-12>
        <a class="btn btn-success nav-link" href="{{ path('create_ad') }}">
            Create Ad
        </a>
    </div>
    <div class = "col-sm-12">
        <!-- ADS -->
        {% for ad in ads %}
            <div class = "card advertCard">
                <div class = "card-header">
                    <div class = row>
                        <div class = "col-sm-10">
                            <div class = "d-inline-block pt-2 pl-3">
                                <span class = "advert" > {{ ad.getTitle() }} </span>
                            </div>

                            <div class = "d-inline-block pt-2 pl-3 pb-2 text-justify magic">
                                <span>
                                    {{ ad.getDescription() }}
                                </span>
                            </div>
                        </div>

                        <div class = "col-sm-2">
                            <div class = "container d-flex h-100">
                                <div class="row justify-content-center align-self-center ml-0">
                                    <a class="btn btn-primary nav-link" href="#MyCollapseCard{{ ad.getId() }}" data-toggle="collapse" role="button"
                                       aria-expanded="true" aria-controls="MyCollapseCard{{ ad.getId() }}">
                                        Informations
                                    </a>
                                    <a class="btn btn-success bg-orange nav-link" href="updateAd/{{ad.id}}">
                                        Update
                                    </a>
                                    <a class="btn btn-danger nav-link" href="deleteAd/{{ad.id}}">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="MyCollapseCard{{ ad.getId() }}">
                    <div class = row>
                        <div class = "col-sm-12 col-md-5">
                            <div class = "pl-2 pt-2" style = "min-height : 7rem">
                            {{ ad.getDescription() }}
                            </div>
                        </div>
                        <div class = "col-sm-12 col-md-5">
                            <div class = "pl-2 pt-2">
                                Wage : {{ ad.getWage() }} <br>
                                Location : {{ ad.getPlace() }}<br>
                                Contact : yapa<br>
                            </div>
                        </div>
                        <div class ="col-sm-12 col-md-2 d-flex align-items-center justify-content-center">
                            <div class = "align-middle d-inline-block">
                                
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <!-- END ADS -->
</div>
    <!-- END CONTENT -->
{% endblock %}
